<!DOCTYPE html>
<html>
<head>
  <title>Open Library</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="/css/100s.css" />
  <link rel="stylesheet" href="/css/app.css" />
  <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/underscore-min.js"></script>
  <script type="text/javascript" src="/js/backbone-min.js"></script>
  <script type="text/javascript" src="/js/jquery.blockUI.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <% yield_content :javascript %>
</head>
<body class="open-library">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Open Library</a>
        <span class="pull-left tag-line">10 seconds to checkout or return a book. It's a lofty but achievable goal</span>
				<div class="pull-right nav-collapse">
					<ul class="nav">
						<% @menu_items.each do |key, menu_item| %>
							<% path, display_name = [menu_item["path"], menu_item["display_name"]] %>
							<li <%= request.path_info == path ? 'class="active"' : '' %>>
								<a href="<%= path %>">
									<%= display_name %>
								</a>
							</li>
						<% end %>
					</ul>
				</div>
      </div>
    </div>
  </div>
  <div class="page container">
    <% yield_content :content %>
    <footer class="footer">
      <p>
      Open Library initiative by Thoughtworkers for Thoughtworkers. Some Rights Reserved
      </p>
    </footer>
   </div>
</body>
</html>
